body {
  margin: 0;
  text-align: center;
  font-family: 'PT Sans Narrow', sans-serif;
  background-color: #E4f9f5;
}

.Rounded_photo{
    border-radius: 500em;
    height: 150px;
    width: 150px;
  }

h1 {
  font-family: 'Sacramento', cursive;
  font-size: 3rem;
  color: #66BFBF;
  line-height: 2;
}
h2{
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
  font-size: 3rem;
  font-weight: normal;
}

div {
  background-color: #E4f9f5;
}

.top-container {
  position: relative;
  padding-top: 200px;
}

.middle {
  height: 200px;
  width: 200px;
  background-color: red;
}

span {
  text-decoration: underline;
}
.About_me{
  font-size: 2.5em;
}

.bottom-cloud {
  position: absolute;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.top-left-cloud {
  position: absolute;
  left: 300px;
  top: 50px;
}
.mountain{
  width : 30%;
  margin : auto;
}
ul{
  display: inline;
}
li{
  font-size: 20px;
  line-height: 50px;
}
p{
  font-size: 20px;
}
table{
    width : 50%;
    margin:auto;
    border-style: inset;
    border-color: #f5b461;
    border-width: thick;
  }
