body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.circle-img {
  border-radius: 50%;
  border: 7px solid #fff;
  width: 120px;
  height: 120px;
}
.center {
  margin: auto;
  width: 70%;
  /* padding: 10px; */
}

.center2 {
  margin-left: 10px ;
  width: 70%;
  padding: 10px;
}
.farme {

box-sizing: border-box;

position: absolute;
width: 330px;
height: 412px;
left: 43px;
top: 127px;

background: linear-gradient(180deg, #D2E4FF 0%, #E9F1FE 63.48%);
border: 1px solid #EAEFF3;
box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.1);
font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',monospace;

}

/* ///////////////////////////////////////////////////////////////////////////////////////// */

.frame2
{
  box-sizing: border-box;

  position: absolute;
  width: 125px;
  height: 125px;
  left: 0px;
  top: 0px;
  
  color : linear-gradient(180deg, #ECF8FF 0%, #ECF9FF 100%), linear-gradient(136.55deg, #E3F2FA 13.94%, #BEE1F2 62.35%, #9FD0E7 100%);
  background: linear-gradient(180deg, #ECF8FF 0%, #ECF9FF 100%), linear-gradient(136.55deg, #E3F2FA 13.94%, #BEE1F2 62.35%, #9FD0E7 100%);
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',monospace;

  margin-top: 425px;
}

.frame3
{
  box-sizing: border-box;

position: absolute;
width: 125px;
height: 125px;
left: 0px;
top: 0px;

color :  linear-gradient(180deg, #EDFFF0 0%, #ECFEEF 100%), linear-gradient(136.55deg, #E3F2FA 13.94%, #BEE1F2 62.35%, #9FD0E7 100%);
background: linear-gradient(180deg, #EDFFF0 0%, #ECFEEF 100%), linear-gradient(136.55deg, #E3F2FA 13.94%, #BEE1F2 62.35%, #9FD0E7 100%);
box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 30px;
font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',monospace;

margin-top : 425px;
margin-left: 180px;
}

.frame4
{
box-sizing: border-box;
position: absolute;
width: 125px;
height: 125px;
left: 0px;
top: 0px;

color : linear-gradient(180deg, #FFF3EC 0%, #FFF1EA 100%), linear-gradient(136.55deg, #FFF3EC 13.94%, #FFF3EC 100%);;
background: linear-gradient(180deg, #FFF3EC 0%, #FFF1EA 100%), linear-gradient(136.55deg, #FFF3EC 13.94%, #FFF3EC 100%);
box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 30px;

margin-top: 560px;

}

.frame5
{
box-sizing: border-box;

position: absolute;
width: 125px;
height: 125px;
left: 0px;
top: 0px;

color : linear-gradient(180deg, #F5F3FF 0%, #F5F2FF 100%), linear-gradient(136.55deg, #E3F2FA 13.94%, #BEE1F2 62.35%, #9FD0E7 100%);
background: linear-gradient(180deg, #F5F3FF 0%, #F5F2FF 100%), linear-gradient(136.55deg, #E3F2FA 13.94%, #BEE1F2 62.35%, #9FD0E7 100%);
box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 30px;

margin-top: 560px;
margin-left: 180px;
}
/* //////////////////////////////////////////////////// */
.myH2
{
  font-size: 60%;
}
.leftSide
{
  left: 20px;
}
.left100
{
  left:30%;
}
.right0
{
  right: 100%;
}
.rightSide
{
  right : 20px;
}
.mt-5
{
  margin-top: 15px;
}
.ml-15
{
  margin-left: 150px;
}
.mr-15
{
  margin-right: 150px;
}
.mb-15
{
  margin-bottom: 25px;
}
.mr-r
{
  left : 25px;
}
.footer
{
  width : 100vw;
  height : 5px;
  position: absolute;
  bottom: 0px;
  background: #FFFFFF;
  box-shadow: 2px -2px 4px rgba(0, 0, 0, 0.05);
}
.right0
{
  left: 47%;
}